.create-obligation-group-section {
  text-align: center;
}

.create-obligation-group-form {
  padding-left: 612px;
  padding-right: 612px;
}

.full-width {
  width: 100%;
}

.description-section {
  width: 100%;
}


