<div class="create-obligation-group-section">
  <h1>
    {{ title }}
  </h1>
  <form class="create-obligation-group-form" action="#">
    <mat-form-field class="full-width">
      <input matInput placeholder="Group name" name="name">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Group currency name" name="groupCurrencyName">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Group shortcut currency name" name="groupCurrencyShortcutName">
    </mat-form-field>
    <mat-form-field class="description-section">
      <textarea #groupDescription matInput cdkTextareaAutosize placeholder="Group description" name="description"></textarea>
    </mat-form-field>
    <button mat-button color="primary">Create obligation group</button>
  </form>
</div>





