<div>
  <div>
    <div class="inline-item">
      <p>Unit of work:</p>
      <span>{{userObligationStrategyForRegisteredService.unitOfWork}}</span>
    </div>
    <div class="inline-item">
      <p>Unit of work cost:</p>
      <span>{{userObligationStrategyForRegisteredService.unitOfWorkCost}}</span>
    </div>
  </div>
  <div>
    <div class="inline-item">
      <p>interest rate</p>
      <span>{{userObligationStrategyForRegisteredService.interestRate}}</span>
    </div>
    <div class="inline-item">
      <p>Too big debt fine:</p>
      <span>{{userObligationStrategyForRegisteredService.tooBigDebtFine}}</span>
    </div>
  </div>
</div>
