<p>
  user-registered-services works!
</p>
<form class="registration-service-form">
  <mat-form-field>
    <mat-select placeholder="Service Category">
      <mat-option value="Computer Science">Computer Science</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="Service Name" value="">
  </mat-form-field>
  <mat-form-field class="full-width">
    <textarea matInput placeholder="Service Description"></textarea>
  </mat-form-field>
  <mat-form-field class="full-width">
    <textarea matInput placeholder="Experience Description"></textarea>
  </mat-form-field>
  <button mat-button>Save</button>
</form>


