<ul>
  <ol *ngFor="let registeredService of userRegisteredServices">{{registeredService.userRegisteredServiceCategory}} - {{registeredService.serviceName}}</ol>
</ul>
<mat-accordion multi="true">
  <mat-expansion-panel *ngFor="let registeredService of userRegisteredServices">
    <mat-expansion-panel-header>
      <span>{{registeredService.serviceName}}</span>
    </mat-expansion-panel-header>
    <app-manage-user-registered-service [registeredService]="registeredService" [fieldDisabled]="true"></app-manage-user-registered-service>
  </mat-expansion-panel>
</mat-accordion>

