<div>
  <h1>
    {{panelTitle}}
  </h1>
  <hr>
  <div>
    <button mat-button color="primary" class="obligation-groups-management-item">
      <a routerLink="/create-obligation-group-panel">Create obligation group</a>
    </button>
    <button mat-button color="primary" class="obligation-groups-management-item">
      <a routerLink="/obligation-groups">Explore obligation groups</a>
    </button>
  </div>
  <hr>
  <div>
    <mat-accordion multi="true">
      <mat-expansion-panel *ngFor="let userObligationGroupAccount of userObligationGroupAccounts">
        <mat-expansion-panel-header>
          <span>{{userObligationGroupAccount.obligationGroup.name}}
            {{userObligationGroupAccount.accountBalance}} {{userObligationGroupAccount.obligationGroup.groupCurrencyShortcutName}}</span>
        </mat-expansion-panel-header>
        <app-registered-service-obligation-strategy *ngFor="let userObligationStrategy of userObligationGroupAccount.userObligationStrategies"
                                                    [registeredServiceObligationStrategy]="userObligationStrategy">

        </app-registered-service-obligation-strategy>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
