<div>
  <div>
    <form action="#">
      <h2>User registered services:</h2>
      <mat-select placeholder="User registered service" [(value)]="selectedUserRegisteredService">
        <mat-option *ngFor="let userRegisteredService of userRegisteredServices" value="{{userRegisteredService.serviceName}}">{{userRegisteredService.serviceName}}</mat-option>
      </mat-select>
      <mat-select placeholder="Unit of work type" [(value)]="proposedUnitOfWorkType">
        <mat-option *ngFor="let unitOfWorkType of unitOfWorkTypes" value="{{unitOfWorkType}}">{{unitOfWorkType}}</mat-option>
      </mat-select>
      <input [(ngModel)]="proposedUnitOfWorkCost"  matInput placeholder="Unit of work cost" name="unitOfWorkCost">
      <button (click)="sendGroupJoinProposition()" mat-raised-button color="primary">Join group proposition</button>
    </form>
  </div>
</div>
