<div class="example-element-position"> {{groupJoinRequestRowDataItem.username}} </div>
<div class="example-element-symbol"> {{groupJoinRequestRowDataItem.userRegisteredServiceName}} </div>
<div class="example-element-weight"> {{groupJoinRequestRowDataItem.proposedUnitOfWorkType}} </div>
<div class="example-element-name"> {{groupJoinRequestRowDataItem.proposedUnitOfWorkCost}} </div>
<hr>
<div class="example-element-name"> {{groupJoinRequestRowDataItem.userRegisteredServiceName}} </div>
<div class="example-element-name"> {{groupJoinRequestRowDataItem.userRegisteredServiceCategory}} </div>
<div class="example-element-name"> {{groupJoinRequestRowDataItem.serviceDescription}} </div>
<div class="example-element-name"> {{groupJoinRequestRowDataItem.experienceDescription}} </div>
<div>
  <form action="#">
    <mat-form-field>
      <mat-select placeholder="Group join request status" [(value)]="groupJoinRequestRowDataItem.status" (selectionChange)="onGroupJoinRequestStatusChange(groupJoinRequestRowDataItem)">
        <mat-option *ngFor="let groupJoinRequestStatus of groupJoinRequestStatuses" value="{{groupJoinRequestStatus}}">{{groupJoinRequestStatus}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button (click)="createObligationStrategy()" mat-raised-button color="primary">Create obligation strategy</button>
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
  </form>
</div>
