<div>
 <button mat-button color="primary">Create obligation</button>
  <div>
    <div class="inline-item">
      <p>Unit of work:</p>
      <span>{{registeredServiceObligationStrategy.unitOfWork}}</span>
    </div>
    <div class="inline-item">
      <p>Unit of work cost:</p>
      <span>{{registeredServiceObligationStrategy.unitOfWorkCost}}</span>
    </div>
  </div>
  <div>
    <div class="inline-item">
      <p>interest rate</p>
      <span>{{registeredServiceObligationStrategy.interestRate}}</span>
    </div>
  </div>
</div>

