<form class="registration-service-form" action="#">
  <mat-form-field>
    <mat-select placeholder="Service Category" [(value)]="pickedServiceCategory">
      <mat-option #serviceCategory *ngFor="let category of userRegisteredServiceCategories" value="{{category}}" [disabled]="fieldDisabled">{{category}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="full-width">
    <input #serviceName matInput placeholder="Service Name" [(ngModel)]="pickedServiceName" name="first" [disabled]="fieldDisabled">
  </mat-form-field>
  <mat-form-field class="full-width">
    <textarea #serviceDescription matInput placeholder="Service Description" [(ngModel)]="pickedServiceDescription" name="second" [disabled]="fieldDisabled">{{pickedServiceDescription}}</textarea>
  </mat-form-field>
  <mat-form-field class="full-width">
    <textarea #experienceDescription matInput placeholder="Experience Description" [(ngModel)]="pickedServiceExperience" name="third" [disabled]="fieldDisabled">{{pickedServiceExperience}}</textarea>
  </mat-form-field>
  <p (click)="saveUserRegisteredService()">Request Units</p>
</form>


